{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue {{ app.user.firstname }} dans votre compte.<br> C'est dans cette espace que vous allez pouvoir gérer toutes vos informations personnelles
    <hr>
    - <a href="{{ path('account_password') }}">Modifer mon mot de passe</a> <br>
    - <a href="{{ path('account_address') }}">Gérer mes adresses</a> <br>
    - <a href="">Mes commandes</a>
{% endblock %}
