body {
    position: relative;
}
.navbar-item-custom, .navbar-item-custom a {
    color: #FFFFFF;
}

.footer-custom {
    text-align:center;
    position:absolute;
    width: 100%;
    background-color: #dfeaff;
    padding-top: 25px;
    margin-top: 50px;
}

.product-container {
    margin-bottom: 150px;
}

.product-item h5{
    margin-top: 50px;
}

.product-item h5{
    text-transform: uppercase;
    font-size:15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display:block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    font-weight:bold;
    margin-bottom: 10px;
}

.product-page-price {
    font-size: 16px;
}

.cart-icon {
    height: 20px;
}

.block-small {
    width: 600px;
    margin: 0 auto;
}

.form-check {
    background-color: #f4f8ff;
    padding: 20px 65px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}