{% extends 'base.html.twig' %}

{% block title %}Paiement de  ma commande - La Boutique Française{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de payer votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong><br>
            <div class="form-check mt-4">
                {{ address|raw }}
            </div>


            <hr>
            <strong>Mon transporteur</strong><br>
            <div class="form-check">
                {{ carrier.name }}<br>
                {{ carrier.description}}<br>
                {{ carrier.price}}
            </div>




        </div>

        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b>
            </div>

            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br>
                            <small>{{ product.product.subtitle }}<br>
                                x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity ) / 100) | number_format(2, ',') }} €
                        </div>
                    </div>

                    {% set total = total + (product.product.price * product.quantity)  %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-Total: </strong> {{ (total / 100) | number_format(2, ',') }} € </br>
            <strong>Livraison: </strong> {{ carrier.price }} €</br>
            <hr>
            <strong>Total:</strong> {{ ((total / 100) + carrier.price) | number_format(2, ',') }} €


            <a href="" class="btn btn-success btn-block mt-3">Payer | {{ ((total / 100) + carrier.price) | number_format(2, ',') }} €  </a>
        </div>
    </div>

{% endblock %}
